

{% extends 'base/base.html' %}

{% block head %}
  {% load static %}
  <!-- Estilos de DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

  <!-- jQuery y DataTables -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <link href="{% static 'css/table.css' %}" rel="stylesheet" />
  {% load crispy_forms_tags %}
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
    <h1 class="h3 mb-3"><strong>Confirmar</strong> Eliminación</h1>

    <p>¿Estás seguro de que deseas eliminar a {{ usuario.user.first_name }} {{ usuario.user.last_name }}?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'usuarios_admin' %}" class="btn btn-secondary">Cancelar</a>
    </form>
    
    
</div>
{% endblock %}
