{% extends 'base/base.html' %}

{% block head %}
  {% load static %}
  <!-- Estilos de DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

  <!-- jQuery y DataTables -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <link href="{% static 'css/table.css' %}" rel="stylesheet" />
  {% load crispy_forms_tags %}
{% endblock %}

{% block content %}
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3"><strong>Contenedores</strong> Registrados</h1>
    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-outline-dark mb-2" data-bs-toggle="modal" data-bs-target="#agregarContenedorModal">Agregar contenedor <i class="align-middle" data-feather="package"></i></button>

    <!-- Modal para agregar usuario -->
    <!-- Modal -->
    <div class="modal fade" id="agregarContenedorModal" tabindex="-1" aria-labelledby="agregarContenedorModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title text-white font-weight-bold" id="agregarContenedorModal">Agregar nuevo contenedor</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Usamos el formulario de Django -->
            <form id="AgregarContenedorForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col">{{ form_containers|crispy }}</div>
                  <div class="col">{{ form_data|crispy }}</div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" id="confirmarAgregarContenedor">Guardar contenedor</button>

          </div>
        </div>
      </div>
    </div>

    <div class="table-container">
      <!-- Alert para mostrar errores -->
      {% if messages %}
        {% for message in messages %}
          {% if 'error' in message.tags %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <table id="#usuariosTable" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Localización</th>
                <th>Geo Latitud</th>
                <th>Geo Longitud</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- Columna de acciones -->
            </tr>
        </thead>
        <tbody>
            {% for contenedor in contenedores %}
            <tr>
                <td>{{ contenedor.id }}</td>
                <td>{{ contenedor.user.username }}</td>
                <td>{{ contenedor.location }}</td>
                <td>{{ contenedor.geo_latitude }}</td>
                <td>{{ contenedor.geo_longitude }}</td>
                
                {% if contenedor.status == 'vacio' %}
                    <td><p class="bg-success text-white p-2 rounded-3 text-center shadow-sm">{{ contenedor.status }}</p></td>
                {% else %}
                    <td><p class="bg-danger text-white p-2 rounded-3 text-center shadow-sm">{{ contenedor.status }}</p></td>
                {% endif %}
    
                <td>
                    <!-- Botones de acciones -->
                    <a href="{% url 'contenedor_ver' contenedor.id %}" class="btn btn-sm btn-info">Ver</a>
                    <a href="{% url 'contenedor_eliminar' contenedor.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay contenedores registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#usuariosTable').DataTable({ 
        language: {
          url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/Spanish.json'
        },
        pageLength: 10, // Número de registros por página
        lengthMenu: [
          [10, 25, 50, -1],
          [10, 25, 50, 'Todos']
        ]
      })
    })
  </script>
  <script src="{% static 'js/container.js' %}" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
